.banner {
    height: 150vh;
    position: relative;
    background: url("https://media.cntraveler.com/photos/5e9907c14ab09800086faf63/master/w_1600%2Cc_limit/airbnb-view-37143825.jpg") center center;

}