.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    
}

.header__icon {
    object-fit: contain;
    height: 60px;
    margin-left: 20px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0;
    /* width: 250px; */
    

}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    /* /* margin-left: 80px; */
    margin-right: 80px; 
    margin-left: 120px;
    
    
}

.header__right > .MuiSvgIcon-root {
    padding: 20px;

}

@media (max-width: 900px) {
    .header {
        
        display: block;
        position: relative;
        align-items: center;
        margin: 30px;
        padding: 30px;

        position: sticky;
        top: 0;
        background-color: white;
        z-index: 100;
        width: 100%;

        
    }

    .header__icon {
        display: flex;
        align-items: center;
        margin: 20px;
        width: 100%;
    }
    .header__center {
        display: flex;
        
        align-items: center;
        margin-left: 60px;
        padding-left: 60px;
        width: 100%;
    }

    .header__right {
        display: flex;
        align-items: center;
        margin: 20px;
        align-content: space-between;
        padding: 20px;
        width: 100%;
    }
}

