.searchPage {
    padding: 20px;

}

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;

}


.searchPage__info > button {
    border-radius: 80px;
    text-transform: inherit;
    margin: 15px;
    
}

@media (max-width: 900px) {

    
    .searchPage {
        
    }
    .searchPage__info{
        display: block;
        width: 100%;
       
    }

    .searchPage__buttons {
        display: flex;
        /* align-content: space-around; */
        align-items: center;
        
        /* flex-direction: row; */
    }

    .searchPage__buttons > button {
        margin: 20px;
        padding: 20px;
        
        text-transform: inherit;
        font-size: 10px;
    }
}