.searchPage {
    padding: 20px;

}

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;

}


.searchPage__info > button {
    border-radius: 80px;
    text-transform: inherit;
    margin: 15px;
    
}

@media (max-width: 900px) {
    .searchPage__images {
        display: block;
        width: 100%;
    }
}